@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);


/* 모든 디바이스 (All Device) */
body{
  background: yellow;
}

/* 공통 헤더 */
.appHeader{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-base) var(--spacing-md);
}

/* 공통 로고 */
.logo{
  width: 204px;
  height: 59px;
}

.logo__link{
  display: block;
  width: 100%;
  height: 100%;
  background: url(./../images/webcafe-logo.png)no-repeat 0 0 /100% 100%;
}


/* 공통 멤버 서비스 */
.memberOnly{
  order: -1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* 공통 검색 폼 */
.searchForm{
  margin-top: var(--spacing-base);
}

.searchForm__group{
  display: flex;
  flex-flow: row nowrap;
}

.searchForm__group .formInput{
  margin-right: var(--spacing-base);
}

/* 공통 입력 서식 스타일 */
.formInput__input{
  border: 1px solid var(--silver);
  background: var(--white);
  border-radius: 4px ;
  height: 2rem;
  padding: 0.12rem 0.75rem;
  width: 100%;
}

input[type="search"]{
  -webkit-appearance: none;
}

.formInput__input{
  border: 1px solid var(--silver);
  background: var(--white);
  border-radius: 4px;
  height: 2rem;
  padding: 0.125rem 0.75rem;
  width: 100%;
}

/* 공통 버튼 스타일 */
.button{
  cursor: pointer;
  padding: 0.125rem 0.75rem;
  height: 2rem;
  border-radius: 4px;
  white-space: nowrap;
}

.button--none{
  border: 0;
  padding: 0;
  background: transparent;
}

.button--fill{
  border: 0;
  color: var(--white);
  background: var(--secondary-color);
}

.button--outline{
  border: 1px solid var(--secondary-color);
  color: var(--white);
  background: transparent;
}

/* 모바일 디바이스 (Mobile Device */
@media(min-width:320px) and (max-width: 768px){
  body{
    background: pink;
  }

  /* 모바일 검색폼 */
  .searchForm .formInput{
    flex-grow: 1;
  }

  /* 모바일 메인메뉴 제어 버튼 */
  .button--burger{
    position: absolute;
    right: var(--spacing-md);
    top: 3.5rem;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
  }
  
  .button--burgerBarTop, .button--burgerBarMiddle, .button--burgerBarBottom{
    width: 100%;
    height: 10%;
    background: var(--white);
    border-radius: 16px;
    left: 0;
    position: absolute;
    transition: all 200ms;
  }
  
  .button--burgerBarTop{
    top: 0%;
  }
  .button--burgerBarMiddle{
    top: 50%;
    transform: translateY(-50%) ;
  }
  .button--burgerBarBottom{
    top: 100%;
    transform: translateY(-100%) ;
  }
  .is--active .button--burgerBarTop{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .is--active .button--burgerBarMiddle{
    top: 50%;
    transform: translate(-110%, -50%);
  }
  .is--active .button--burgerBarBottom{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

  /* 모바일 헤더 */
  .appHeader{
    background: var(--primary-color);
    color: var(--white);
  }

  /* 모바일 멤버 서비스 */
  .memberOnly{
    font-size: var(--text-regular);
  }


/* 모바일 디바이스 (Desktop Device */
@media(min-width:768px){
  body{
    background: aqua;
  }

  /* 데스크탑 헤더 */
  .appHeader{
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    background: var(--white);
  }

  /* 데스크탑 로고 */
  .logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
  }
  
  /* 데스크탑 검색폼 */
.searchForm__group{
  justify-content: flex-end;
}
.searchForm__group .formInput{
  width: 400px;
}

  /* 데스크탑 메인메뉴 제어 버튼 */
  .button--burger{
    display: none;
  }

  /* 데스크탑 메인 메뉴 */
  .menu{
    background: var(--secondary-color);
    padding: var(--spacing-xs) var(--spacing-sm);
  }

  .menu__list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
  }

  .menu__item{
  }

  .menu__link{
    display: block;
    padding: var(--spacing-xs) var(--spacing-sm);
    color: var(--white);
    font-size: var(--text-medium);
    font-weight: 700;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
  }
}


/* 고해상도 배상이미지 */
@media(-webkit-min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min--moz-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
      .logo__link{
        background-image: url(./../images/webcafe-logo@2x.png);
      }
}