@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);


/* 모든 디바이스 (All Device) */
body{
  background: yellow;
}

/* 공통 헤더 */
.appHeader{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-base) var(--spacing-medium);
}

/* 공통 로고 */
.logo{
  width: 204px;
  height: 59px;
}

.logo__link{
  display: block;
  width: 100%;
  height: 100%;
  background: url(./../images/webcafe-logo.png)no-repeat 0 0 /100% 100%;
}


/* 공통 멤버 서비스 */
.memberOnly{
  order: -1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* 모바일 디바이스 (Mobile Device */
@media(min-width:320px) and (max-width: 767px){
  body{
    background: pink;
  }

  /* 모바일 헤더 */
  .appHeader{
    background: var(--primary-color);
    color: var(--white);
  }

  /* 모바일 멤버 서비스 */
  .memberOnly{
    font-size: var(--text-regular);
  }
}

/* 모바일 디바이스 (Desktop Device */
@media(min-width:768px){
  body{
    background: aqua;
  }

  /* 데스크탑 헤더 */
  .appHeader{
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    background: var(--white);
  }

  /* 데스크탑 로고 */
  .logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
  }

  /* 데스크탑 메인메뉴 제어 버튼 */
  .button--burger{
    display: none;
  }
}

/* 고해상도 배상이미지 */
@media(-webkit-min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min--moz-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
      .logo__link{
        background-image: url(./../images/webcafe-logo@2x.png);
      }
}