:root{
  --white: #fff;
  --black: #000;
  --silver: #767676;
  --primary-color: #38302e;
  --secondary-color: #988574;
  --accent-color: #ffc;
  --accent-opacity-color: hsla(60, 50%, 50%, 0.85);

  --green: #abd375;
  --yellow: #e8ca58;
  --orange: #eea60a;
  --brown: #988574;
  --blue: #6aaee6;

  --accent-book: var(--green);
  --accent-news: var(--yellow);
  --accent-board: var(--brown);
  --accent-favorite: var(--orange);
  --accent-twitter: var(--blue);

  --spacing-base: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;

  --text-small: 0.75rem;
  --text-regular: 0.875rem;
  --text-base: 1rem;
  --text-medium: 1.125rem;
  --text-large: 1.25rem;

  --container-width: 64rem;
}


